.ChatFrame {
    grid-template-rows: min-content;
    grid-template-columns: auto;
    flex-direction: column;
    background-color: #0f0f0f98;
    overflow-y: scroll;
    flex-grow: 1;
    height: auto;
    max-height: 93vh;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(170, 170, 170);
}
