.ChatFrame {
    grid-template-rows: min-content;
    grid-template-columns: auto;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    margin-bottom: 60px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: none;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb {
        background-color: gainsboro;
    }
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: rgb(170, 170, 170);
    }
}
