.userinfowrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 4px;
   }

.usernamewrapper {
    display: flex;
    flex-direction: column;
    line-height: 0.01;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 4px;
    padding-left: 8px;
}

.userinfowrapper img {
 width: 40px;
 height: 40px;
 border-radius: 5px;
}

.useremailtext {
    font-weight: 900;
}