.loading-indicator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    padding: 12px;

    /* toggle these and see what you like best */
    background-color: #111111;
    /* background-color: #212121; */
    /* background-color: #3c3c3c;     */
}
  
.loading-indicator span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 5px;
    animation: blink 2s infinite both;
}

.loading-indicator span:nth-child(1) {
    animation-delay: 0;
}

.loading-indicator span:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-indicator span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes blink {
    0%, 15%, 85%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1);
    }
}