.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.large-modal {
    min-width: 40%;
    max-height: 60%;
    max-width: 60%;
    background-color: #2f2f2f;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: lightgrey;
    scroll-behavior: smooth;
    overflow: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-header button {
    cursor: pointer;
    border-radius: 10%;
    height: 34px;
    width: 34px;
    background: none;
    color: lightgrey;
}

.modal-body {
    padding: 0 10px;
    font-size: 18px;
    padding-bottom: 8px;
}

.permissions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dd0000;
    -webkit-transition: .4s;
    transition: .4s;
    height: 22px;
    border: 1px solid whitesmoke;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    outline: 1px solid white;
}

input:checked+.slider {
    background-color: #00c524;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00c524;
}

input:checked+.slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.label {
    font-size: 18px;
}

.section-title {
    text-align: left;
    padding: 4px;
}

/* Hide the default radio button */
.device-list input[type="radio"] {
    opacity: 0;
    /* `visibility: hidden` also works */
    position: absolute;
}

/* Style for the container */
.device-list>div {
    padding: 6px;
    width: max-content;
    margin-right: auto;
}

/* Custom radio button style */
.device-list label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
}

/* Custom checkmark/indicator */
.device-list label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background 0.3s;
}

/* When the radio button is checked, change background */
.device-list input[type="radio"]:checked+label:before {
    background-color: #2196F3;
}

/* Style for the checkmark indicator (inside the circle) */
.device-list label:after {
    content: "";
    position: absolute;
    display: none;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Show the indicator inside the button when checked */
.device-list input[type="radio"]:checked+label:after {
    display: block;
}

.accountwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: light) {
    .large-modal {
        background-color: whitesmoke;
        color: #2f2f2f;
    }

    .modal-header {
        color: #2f2f2f;
    }

    .modal-header button {
        border: 1px solid gainsboro;
        color: #2f2f2f;
    }

    .modal-header button:hover {
        background-color: gainsboro;
    }

    .slider {
        box-shadow: 0 1px 4px rgb(57, 57, 57);
    }
}

@media (prefers-color-scheme: dark) {
    .large-modal {
        background-color: #484848;
    }

    .modal-header button {
        border: 1px solid white;
    }

    .modal-header button:hover {
        background-color: #3f3f3f;
    }
}