.userChatBubble {
    color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 65%;
    width: fit-content;
    margin: 10px;
    margin-left: auto;
    position: relative;
    white-space: pre-wrap;
    text-align: left;
    padding: 8px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;

    /* toggle these and see what you like best */
    background-color: #002a79;
    /* background-color: #8e4200; */
}

.magnusChatBubble {
    color: lightgrey;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 65%;
    width: fit-content;
    margin: 10px;
    margin-right: auto;
    position: relative;

    /* toggle these and see what you like best */
    background-color: #111111;
    /* background-color: #212121; */
    /* background-color: #3c3c3c; */
}

.markdown * {
    margin-block-start: 7px;
    margin-block-end: 7px;
}