:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 95vh;
}

input {
  border: 1px solid transparent;
  padding: 0 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: 40px;
  outline: 1px solid rgb(118, 118, 118);
  margin-top: 10px;
}

button {
  width: 42px;
  height: 42px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: rgb(118, 118, 118);
}

#micButton {
  background-size: 80%;
  background-position: center;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 6px;
  padding-top: 5px;
  outline: 1px solid rgb(118, 118, 118);
}

#submitButton {
  padding-top: 5px;
  padding-right: 7px;
  position: relative;
  top: 4px;
  border-radius: 0 16% 16% 0;
  outline: 1px solid rgb(118, 118, 118);
}

.bottomBar {
  justify-content: center;
  margin-top: 10;
  margin-bottom: 10;
  height: 42px;
}

#settingsButton {
  position: relative;
  top: 6px;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 16% 0 0 16%;
  outline: 1px solid rgb(118, 118, 118);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
